.wrap { width: 960px; margin: 0 auto; font: 14px Tahoma,Helvetica,Arial,"ו";}
p { text-align: center;}
ul { padding: 0; list-style-type: none; overflow: hidden; zoom: 1;}
li { float: left; width: 300px; margin: 20px 0 0 20px;}
ul a { float: left; width: 300px; height: 80px; line-height: 80px; color: #333; text-align: center; text-decoration: none; background-color: #eee;}

.menu { height: 30px; margin-bottom: 30px; padding: 10px; background-color: #f0f0f0; text-align: center;}
.menu a { display: inline-block; height: 30px; padding: 0 20px; line-height: 30px; font-size: 14px; color: #333; text-decoration: none;}
.menu a:hover { color: #000; background-color: #e9e9e9;}
.menu .cur { background-color: #ddd !important; color: #000;}

.vad { margin:80px 0 5px; font-family: arial,ו,sans-serif; text-align:center;}
.vad a { display:inline-block; height: 36px; line-height: 36px; margin:0 5px; padding:0 50px; font-size:14px; text-align:center; color:#eee; text-decoration:none; background-color:#222;}
.vad a:hover { color:#fff; background-color:#000;}
.thead { width: 728px; height: 90px; margin: 0 auto;}